{{ if isset .Site.Params "bluesky" }}
<section class="bar background-image-fixed-1 no-mb color-white">
    <div class="container" style="background:#fff">
        <h3 class="text-uppercase text-center"><a href="https://bsky.app/profile/{{ .Site.Params.bluesky.username }}" target="_blank">{{ .Site.Params.bluesky.title | markdownify }}</a></h3>
        <div class="col-md-12" style="margin-top:2rem;margin-bottom:4rem">

            <script type="module" src="https://cdn.jsdelivr.net/npm/bsky-embed/dist/bsky-embed.es.js" async></script>
            <bsky-embed
                username="{{ .Site.Params.bluesky.username }}"
                mode=""
                limit="5"
            >
            </bsky-embed>
        </div>
    </div>
</section>
{{ end }}
